<?xml version="1.0" encoding="UTF-8" ?>
<ruleset name="Project Rules">
    <directory>**/*.php</directory>
    <exclude-pattern>vendor</exclude-pattern>
    <exclude-pattern>docs</exclude-pattern>
    <arg value="sp"/>

    <rule ref="vendor/flyeralarm/php-code-validator/ruleset.xml">
        <exclude name="Flyeralarm.Docblock.ReturnType.ProhibitedReturnType"/>
    </rule>
</ruleset>
