<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true"
    strict="false">
    <testsuites>
        <testsuite name="statsd-php Test Suite">
            <file>tests/ClientTest.php</file>
            <file>tests/ClientBatchTest.php</file>
            <file>tests/Connection/SocketTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
